#about {

  .about-wrapper {
    .about-phone {
      width: 420px;
      display: block;
      margin: auto;
    }
  }

  .learnmore {
    text-transform: capitalize;
    text-align: left;
    font-size: $xs-font-size;
    color: $secondary-color;
    font-weight: 500;
    cursor: pointer;

    @include respond(phone) {
      font-size: 15px;
      font-weight: 500;
    }
  }
}
