
#aboutus-whatwedo
{
    position: relative;

    .bg-img
    {   
        width: 508px;
        height: auto;
        opacity: 0.2;
        position: absolute;
        top: 0;
        left: -248px;

        @include respond(phone)
        {
            visibility: hidden;

        }
    }

}