#about {
  font-family: poppins;
  .about-wrapper {
    margin-bottom: 15vh;
  }
  .aboutniche {
        h3 {
            text-transform: uppercase;
            font-size: $lg-font-size;
            font-weight: 700;
            margin-left: -10vw;
            margin-top: 5vh;

            @include respond(phone) {
            font-size: $md-font-size;
            font-weight: 700;
            margin-left: 3vw;
            margin-top: -30vh;
            }
        }
    }

  .about-wrapper__info {
    margin-left: -10vw;
    padding-top: 3vh;
    font-size: $xs-font-size;
    font-weight: 500;

    @include respond(phone) {
      font-size: 15px;
      font-weight: 500;
      margin-left: 3vw;
      margin-top: -20vh;
    }
  }

  .learnmore {
    text-transform: capitalize;
    text-align: left;
    font-size: $xs-font-size;
    color: $secondary-color;
    margin-left: -10vw;
    padding-top: 3vh;
    font-weight: 500;
    @include respond(phone) {
      font-size: 15px;
      font-weight: 500;
      margin-left: 3vw;
    }
    .arrow
    {
      width: 3vw;
      height: 4vh;
    }
  }
  .hero-phone {
    width: 28vw;
    @include respond(phone) {
      width: 80vw;
      margin-left: 5vw;
      margin-top: 10vh;
    }
  }
}
