

@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
  }
  

#aboutus-hero
{
    font-family: poppins;
    
 .hero-gradient
{
        width: 100%;
        height:100vh;
        background-image: linear-gradient(100deg,white, #ffecec);
       
}
.bg-img{
    position: absolute;
    top: 0vh;
    left: -27.5vw;
    width: 55vw;
    height: 55vw;
    opacity: 18%;
    z-index: 0;

    @include respond(phone)
    {
      top: 1vh;
      left: -70vw;
      width: 140vw;
      height: 140vw;
    }
  }
.aboutus-heading
{
    position: relative;
    text-align: center;
    color: black;
    padding-top: 35vh;
    letter-spacing: 15px;
    font-family: elephant;
    z-index: 1;
    font-size: $xxl-font-size; 
    
       @include respond(phone)
       {
        font-size: $xl-font-size;  
       }
}
.aboutus-subheading
{
    position: relative;
    text-align: center;
    color: black;
    padding-top:5vh;
    line-height: 1.5;
    font-weight: 400;
    z-index: 1;
    font-size: $md-font-size;
    
    @include respond(phone)
    {
     font-size: $xs-font-size;  
    }
}
.downbtn-row
{
    padding-top:15vh;
}
.downbtn
{
    position: relative;
    bottom: 10px;
    width: 70px;
    height:70px;
    border-radius: 100%;
    border: none;
    background-color: #FF455C;
    box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;

    .arrowdown
    {
        width: 4vw;
        height: 4vh;
        color: white;
        @include respond (phone)
        {
            width: 7vw;
            height: 7vh;
        }
    }
}
}