#contactus{
    padding-top: 120px;
    padding-bottom: 0;

    .header-txt {
        h1 {
            font-size: 48px;
            font-weight: 700;
            line-height: 50px;
        }
    }

    .socialbtn {
        background-color: #ff455c;
        border: none;
        border-radius: 100%;
        box-shadow: 3px 8px 15px rgb(0 0 0 / 10%);
        height: 60px;
        position: relative;
        transition: all .3s ease 0s;
        width: 60px;
        z-index: 1;
        margin-right: 20px;

        svg {
            color: #fff;
            height: 30px;
            width: 30px;
        }
    }

    .contactus-wrapper-form {
        box-shadow: 3px 8px 15px rgb(0 0 0 / 10%);
        transition: all 0.3s ease 0s;
        padding: 40px 40px;
        width: 100%;

        h2 {
            color: $primary;
            font-size: 24px;
        }
    }

    .bg-img {
        height: auto;
        left: -354px;
        opacity: 0.2;
        position: absolute;
        top: 98px;
        width: 800px;
        z-index: -1;
    }
}

.page-contact {
    .form {
        padding-top: 120px;
    }
}