#features
{

    .feature-image {
        width: 100%;
    }

    .feature {
        padding-left: 30px;

        .feature-group {
            .feature-name {
                color: #ff455c;
                font-size: 28px;
                font-weight: 600;
                margin-bottom: 3px;
    
                span {
                    margin-left: 20px;
                }
            }
        }
    }
}

#features.color-background {
    background-color: #FFF8F8;
}