#hero {

  padding-top: 120px;
  background-color: $white-color;
  height: calc(100vh - 120px);
  border-top: 0px;
  margin-bottom: 100px;

  @include respond(tab-land) {
    height: 100%;
  }
  
  
      
  .hero-wrapper {      
    position: relative; 

    .bg-img{
      position: absolute;
      opacity: 18%;
      width: 750px;
      height: auto;
      left: -635px;
    }

    .hero-heading {
      h1 {
        font-size: 48px;
        font-weight: 700;
        line-height: 50px;
      }
    }
    
    .store-button-group {
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 30px;

      .appstorebtn {
        display: flex;
        align-items: center;

        img {
          height: 60px;
          width: auto;
        }
        
      }
    }
  
    .col-hero-wrapper__image {
      .hero-wrapper__image {
        .hero-phone {
          width: 100%;
        }
      }
    }
  }
    }
    