.main-menu {
    display: none;
    
    @include respond(phoneM){
        display: block;
    }
    > ul {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      > li {
        list-style: none;
        font-size: 1rem;
        > a {
          padding: 10px 15px 10px 15px;
          display: inline-block;
          font-weight: 500;
          text-decoration: none;
          color: black;
          &:hover {
            text-decoration: none;
          }
          &.active {
            font-weight: 500;
            text-decoration: none;
            color: $secondary-color;
            &:hover {
              text-decoration: none;
              transition: all 225ms ease-in 0s;
            }
          }
        }
      }
    }
  }
  