#nav{
    position: fixed;  
    width: 100%;
    z-index: 1;
    
    
}
#navd{
    width: 100%;
    background-color: $white-color;
}

.navbar-expand-lg .navbar-collapse {   
    position: relative;
    @media (min-width: 992px) {
        position:absolute;
        right: 52px;
      }
}
