#sellhero
{

  padding-top: 120px;
  background-color: #fff;
  height: calc(100vh - 50px);
  border-top: 0px;
  position: relative;
  align-items: center;
  text-align: center;
  overflow: hidden;
  display: flex;

  .hero-video {

    video {
      width: 100%;
      height: auto;
    }

    &::before {
      content: "";
      position: absolute;
      background: #0202025c;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .hero-heading {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
    font-weight: 400;

    h2 {
      font-weight: 500;
      color: #fff;
      margin-bottom: 0;
    }

    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 50px;
      color: #fff;
    }

    .sellbtn
    {
        position: relative;
        z-index: 1;
        width: 15vw;
        height: 8vh;
        color: white;
        background-color: $secondary-color;
        border-radius: 5px;
        border:none;
        font-size: $sm-font-size;
        font-weight: 500;
        box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
    }
  }
}