#Features
{
    font-family: poppins;
.features-title h1
{
    text-align: center;
    text-transform: uppercase;
    font-size: $md-font-size;
    font-weight: 700;
    margin-bottom: 10vh;
    @include respond(phone)
    {
        font-size: $sm-font-size;
        margin-top: -10vh;
    }
}
.panel
{
width: 30vw;
height: 18vw;
margin-left: 5vw;
margin-bottom: 5vh;
border: none;
background-color: white;
border-radius: 5px;
box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.1);
transition: all 0.3s ease 0s;
padding: 3vw;
@include respond(phone)
{
    width: 65vw;
    height: 23vh;
    margin-left: 15vw;
    margin-bottom: 5vh;
    padding: 5vw;
   
}

h2 
{
    color: $secondary-color;
    font-size: $sm-font-size;
    text-transform: capitalize;
    @include respond(phone)
    {
        font-size: 15px;
        
    }
    
}
.icon
{
    margin-left: 3vw;
}
.f-desc 
{
    margin-top: 3vh;
    text-align: left;
    font-size: $xs-font-size;
    font-weight: 500;
    text-transform: capitalize;

    @include respond(phone)
    {
        font-size: 15px;
        
    }
}
}

}