#sellhero
{
    font-family: poppins;
  
    .bg-img{
      position: absolute;
      top: 0vh;
      left: -27.5vw;
      width: 55vw;
      height: 55vw;
      opacity: 18%;
      z-index: 0;
  
      @include respond(phone)
      {
        top: 1vh;
        left: -70vw;
        width: 140vw;
        height: 140vw;
      }
    }
      padding-top: 100px;
      background-color: $white-color;
      color: $dark-blue-text;
      height: 100vh;
      border-top: 0px;
      padding-bottom: 10%;
    
      @include respond(tab-land) {
        height: 100%;
      }
    
     

      .hero-wrapper {       
 

        .hero-heading {
  h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
}

        
        
       
        .sellbtn
        {
            position: relative;
            z-index: 1;
            width: 15vw;
            height: 8vh;
            color: white;
            background-color: $secondary-color;
            border-radius: 5px;
            border:none;
            font-size: $sm-font-size;
            font-weight: 500;
            box-shadow: 3px 8px 15px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease 0s;
            @include respond(phone)
        {
            width: 32vw;
            height: 8vh;
            font-size: $xs-font-size;
            margin-left: 27vw;
            margin-top: 3vh;

        }
        }

      .col-hero-wrapper__image
      {
        margin-left: -200px;
        margin-top: -70px;
        @include respond(phone)
        {
        margin-left: -120px;
        margin-top: 8vh;

        }
      }
      .hero-wrapper__image
      {
        position: relative;
        z-index: 1;
        width: 1100px;
        @include respond(phone)
        {
         width: 700px;
        }

        .hero-phone
        {
          width: 1100px;
          @include respond(phone)
          {
           width: 700px;
          }
        }
      }
        &__image {
          display: flex;
          flex-wrap: wrap;
          height: 100%;
          align-items: center;
          justify-content: center;


          @include respond(tab-port) {
            padding-bottom: 6.4rem;
          }
          @include respond(tab-land) {
            height: 100%;
          }

        }
    
        &__info {
          display: flex;
          height: 100%;
          justify-content: center;
          flex-direction: column;
    
          @include respond(phone) {
            align-items: center;
          }
    
          &-text {
            text-align: left;
    
            @include respond(tab-port) {
              font-size: 1.5rem;
              text-align: center;
            }
            @include respond(phone) {
              font-size: 1.6rem;
              text-align: center;
            }
    
            &--important {
              background: darken($secondary-color, 1%);
              display: inline-block;
              font-style: italic;
              padding: 0 0.3rem;
              margin: 0.3rem 0;
              line-height: 1.6;
    
              @include respond(phone) {
                display: inline;
                margin: 0;
                padding: 0;
                background: transparent;
                font-style: normal;
              }
            }
          }
        }
      }
}