#available {
  .store-button-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;

    .appstorebtn {
      display: flex;
      align-items: center;

      img {
        height: 60px;
        width: auto;
      }
    }
  }
  .hero-phone {
    width: 100%;
  }
}
