// COLORS
$primary-color: #FF4A69;
$secondary-color: #FF455C;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
/*$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem; */

$xxl-font-size: 70px;
$xl-font-size: 50px;
$lg-font-size: 35px;
$md-font-size: 30px;
$sm-font-size: 25px;
$xs-font-size: 20px;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$font: 'Poppins', sans-serif;