@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

section {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 70px;
    
  }
<<<<<<< HEAD
//index
@import './sections/hero';
@import './sections/nav';
@import './sections/map';
@import './sections/submit';
//about us
=======
@import './sections/nav';
@import './sections/hero';



>>>>>>> d0d84caa0b726fe64e511dc59bfb85a7835b5765
@import './sections/aboutushero';
@import './sections/aboutuswhoweare_R';
@import './sections/aboutuswhoweare_L';
@import './sections/aboutuswhatwedo';
<<<<<<< HEAD
//contact us
@import './sections/contactus';
@import './sections/joinwithus';
@import './sections/contactinfo';
@import './sections/footer';
=======
>>>>>>> d0d84caa0b726fe64e511dc59bfb85a7835b5765
