@import "~bootstrap/scss/bootstrap";
@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

// Libraries
@import './libraries/hamburgers/hamburgers';


//header
@import './sections/hamburger';
@import './sections/header';
@import './sections/main-menu';
@import './sections/menu';

@import './components/modal';
//index
@import './sections/hero';
@import './sections/nav';
@import './sections/map';
@import './sections/submit';
@import './sections/about';
@import './sections/features_l';
@import './sections/features_r';
@import './sections/features_ll';
@import './sections/sellers';


//about us
@import './sections/aboutushero';
@import './sections/aboutuswhoweare_R';
@import './sections/aboutuswhoweare_L';
@import './sections/aboutuswhatwedo';

//contact us
@import './sections/contactus';
@import './sections/joinwithus';
@import './sections/contactinfo';
@import './sections/footer';
@import './sections/willbeavailableon';

//Sell with us
@import './sections/sellwithushero';
@import './sections/sellwithusinfo';
@import './sections/sellwithus_features';
@import './sections/sellwithus_testimonials';


body {
  font-family: $font;
  font-size: 20px;
  font-weight: 400;
}

.title-1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 38px;
  text-transform: uppercase;
}

section {
    padding-top: 50px;
    padding-bottom: 50px;
}






